<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" >
    <h2 class="text-center text-primery" style="color: blue;">Sign up</h2>
    <hr>

    <app-text-input [formControl]='registerForm.controls["username"]' [lable]='"Username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [lable]='"Password"' type='"password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [lable]='"Confirm Password"'></app-text-input>


    <div class="form-group text-center">
        <button class="btn btn-primary" style="margin: 5px" type="submit">Register</button>
        <button class="btn btn-danger" style="margin: 5px" type="submit" (click)="cancel()">Cancel</button>
    </div>
</form>

<!-- <p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p> -->
