<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" >
    <h2 class="text-center text-primery" style="color: blue;">Sign up</h2>
    <hr>
    <div class="form-group">
        <input
            [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
            type="text"
            style="margin: 5px"
            class="form-control"
            formControlName='username'
            placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>
    </div>

    <div class="form-group">
        <input
            [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
            type="password"
            style="margin: 5px"
            class="form-control"
            formControlName='password'
            placeholder="Password">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password</div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>
        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">Password must be at at most 8 characters</div>
    </div>

    <div class="form-group">
      <input
          [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
          type="password"
          style="margin: 5px"
          class="form-control"
          formControlName='confirmPassword'
          placeholder="Confirm password">
      <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please enter a confirm password</div>
      <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>
  </div>



    <div class="form-group text-center">
        <button class="btn btn-primary" style="margin: 5px" type="submit">Register</button>
        <button class="btn btn-danger" style="margin: 5px" type="submit" (click)="cancel()">Cancel</button>
    </div>
</form>

<!-- <p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p> -->
